.card{
border: hidden ;
text-align: center;
padding-top: 10px;
}
h1{
    margin: 0px;
    border-bottom: hidden;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    text-align : center;
}
p{
margin: 0px;
padding: 10px;
border-left: hidden;
border-right: hidden;
text-align:center;
background-color : white;
}
img{
padding:300 vw;
padding:300 vh;
width: 25%;
height: 24%;
max-width : 50%;
}


.col-sm-6{
margin: 10px;
padding: 10px;

}
.thumbnail{
    padding : 50 vh ;
    padding : 50 vw;
    margin : hidden;
    border : hidden;
}

.btn-primary
{
  background-color:#c78283;

}

.btn-primary:visited,.btn-primary:focus,.btn-primary:hover,.btn-primary:active{
  background-color:#c78283;
}

.btn-primary:on-click{
  background-color:#c78283;
}
