<!-- <div *ngIf="(afAuth.user | async)">
    <br>
    <button mat-raised-button color="primary" (click)="logout()">
        Log out
    </button>
</div> -->
<div class = "row backroundimg">
  <div class="col">
    <li *ngFor="let location of locationsListLucky; let i = index">
      <div class="card w-50">
        <div class="card-body">
          <h1 class="card-title">Your lucky location:</h1>
          <h2 class="card-text"> {{location.locationName}}</h2>
          <img src="{{location.photoUrl}}" alt="Could not retrieve image" style="width:90vh;height:100%;">
          <h2 class="card-text"> {{location.musicGenres}}</h2>
          <h2 class="card-text"> {{location.address}} <a href="{{location.mapsUrl}}">Click here to view location</a></h2>
        </div>
      </div>
    </li>
  </div>
</div>
