<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
/>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Good Vibrations</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/">Authenticate</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/">Favourite Locations</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/">I Feel Lucky</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
