<div class = "row backroundimg">
  <div class = "container">

    <div class="card w-50">
      <div class="card-body">
        <h1 class="card-title">Welcome!</h1>
        <p class="card-text"> Never overthink where you're going out with your friends again!
          Good Vibrations is an app that makes getting accustomed to new cities easier. You may even discover something new about your city!
          You will find restaurants, bars, parks, concerts and even festivals that are recommended by other users.</p>
      </div>
      <button class="btn btn-primary btn-lg" (click)="switchToSignIn()" type="button">Sign in</button>
      <button class="btn btn-primary btn-lg" (click)="switchToSignUp()" type="button">Join now</button>
    </div>

  </div>
</div>


