<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
/>
<!-- <div *ngIf="afAuth.user | async">
  <br />
  <button mat-raised-button color="primary" (click)="logout()">Log out</button>
</div> -->
<div class="container">
  <div class="col">
    <div class="form-group">
      <div class="col-lg-6">
        <label>Location Name:</label>
        <input class="form-control text-center" [(ngModel)]="_locationName"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-6">
        <label>Location Address:</label>
        <input class="form-control text-center" [(ngModel)]="_locationAddress"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-6">
        <label>Location Photo:</label>
        <input class="form-control text-center" [(ngModel)]="_photoUrl" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-6">
        <label>Music Genres (separated by comma):</label>
        <input class="form-control text-center" [(ngModel)]="_mg"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-6">
        <label>Volume Rating(1-10):</label>
        <input class="form-control text-center" [(ngModel)]="_volume" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-6">
        <label>Google Maps URL:</label>
        <input class="form-control text-center" [(ngModel)]="_mapsUrl"/>
        <br>
        <button class="btn btn-success" (click)="addLocation()">Add Location</button>
      </div>
    </div>
  </div>


  <div class="col">
    <h2>Locations:</h2>
    <div style="overflow-x: scroll; overflow-y: scroll;" class="table table-responsive">
      <table class="table table-hover">

        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Music Genres</th>
          <th scope="col">Volume Rating</th>
          <th scope="col">Adress</th>
          <th scope="col">Image</th>
          <th scope="col">View Location!</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let location of locationsList; let i = index; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even}">
          <td>{{ location.locationName }}</td>
          <td>{{ location.musicGenres }}</td>
          <td>{{ location.volumeRating}}</td>
          <td>{{location.address}}</td>
          <td><img src="{{location.photoUrl}}" alt="Could not retrieve image" style="width:150px; height:100%;"></td>
          <td><a href="{{location.mapsUrl}}">VIEW</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


